# git
.gitignore
.gitattributes
.github/

# build
build/
nayuki
*.exe

# docker
docker-compose.yml
Dockerfile
.dockerignore

# env
.env.example
*.env

# os-specific stuff
desktop.ini
*.DS_Store

# readme/license/etc
assets/
*.md
LICENSE
